<div class="content">
    <div class="box has-text-left has-text-centered-mobile">
        <div class="block">
            <h2>{{placeholder_post_title}}</h2>
        </div>
        <div class="block">
            <span><i class="fa-solid fa-calendar-days"></i>&ensp;<small class="has-text-danger">{{placeholder_post_date}}</small></span>
        </div>
        <div class="block">
            <span><i class="fa-solid fa-tags"></i>&ensp;<small class="has-text-danger">{{placeholder_post_tags}}</small></span>
        </div>
        <div class="block">
            <span><i class="fa-solid fa-clock"></i>&ensp;<small class="has-text-danger">{{placeholder_post_readtime}}</small></span>
        </div>
    </div>
</div>
<hr />
<div class="content">
    <div class="block has-text-justified has-text-justified-mobile">
        {{placeholder_post_content}}
    </div>
</div>