<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{placeholder_template_main_css}}
    {{placeholder_template_main_javascript}}
    <title>{{placeholder_template_main_date}}</title>
    <style>
        body {
            font-family: "{{placeholder_template_main_font}}", serif;
        }
        .clickable-content {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <section class="section">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-menu is-active">
                    <div class="navbar-start">
                        <a class="navbar-item">
                            <strong>{{placeholder_template_main_title}}</strong>
                        </a>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="loulou - main - v1.html"><strong>Home</strong></a>
                        <a class="navbar-item" href="loulou - nav articles - v1.html"><strong>Articles</strong></a>
                        <a class="navbar-item"><strong>About</strong></a>
                        <a class="navbar-item"><strong>Extras</strong></a>
                    </div>
                </div>
            </nav>
            <br>
            <div class="columns">
                <div class="column is-one-third has-text-centered has-text-centered-mobile">
                    <div>
                        <figure class="image is-128x128 is-inline-block">
                            <img class="is-rounded" src="https://blanchardjulien.com/images/juju.jpeg" />
                        </figure>
                    </div>
                    <br>
                    <br>
                    <div class="block">
                        <h1 class="title is-3">{{placeholder_template_main_author}}</h1>
                    </div>
                    <br>
                    <div class="block">
                        <h2 class="subtitle"><i>{{placeholder_template_main_subtitle}}</i></h2>
                    </div>
                    <br>
                    <div>
                        <span class="clickable-content"><i class="fab fa-github fa-2xl"></i>&ensp;GitHub</span>
                    </div>
                    <br>
                    <div>
                        <span class="clickable-content"><i class="fab fa-linkedin fa-2xl"></i>&ensp;Linkedin</span>
                    </div>
                    <br>
                </div>
                <div class="column is-col-span-2">
                    <div class="content">
                        <div class="block">
                            <h1 class="has-text-left has-text-centered-mobile">Latest articles</h1>
                        </div>
                        <hr>
                        <div class="block">
                            <ul>
                                {{placeholder_template_main_latest_articles}}
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="content">
                        <h1 class="has-text-left has-text-centered-mobile">Featured articles</h1>
                        <hr>
                        {{placeholder_template_main_featured}}
                        </div>
                    </div>
                </div>
            </div>


            <hr>
            <div class="box">
                <div class="content has-text-centered">
                    <strong>© {{placeholder_template_main_footer}}</strong>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
