<div class="content">
    <div class="block has-text-left has-text-centered-mobile">
        <h3>Filter by tags</h3>
        <small>[ Currently disabled ]</small>
    </div>
    <hr>
    <div class="box has-text-left has-text-centered-mobile">
        {{placeholder_top_tags}}
        <tag class="button is-danger">Python</tag>
        <tag class="button is-danger">NLP</tag>
        <tag class="button is-danger">JavaScript</tag>
        <tag class="button is-danger">TypeScript</tag>
    </div>
</div>
<hr>
<div class="content">
    {{placeholder_all_posts}}
    <h3 class="has-text-left has-text-centered-mobile">2024</h3>
    <div class="block has-text-left">
        <ul>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Using POS Tags to Draw Simple Network Graphs</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Building a Simple Documentation Tool With Mistune and Pico.css</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Explore Your Dataframes With PyGWalker</a></li>
        </ul>
    </div>
    <h3 class="has-text-left has-text-centered-mobile">2023</h3>
        <div class="block has-text-left">
            <ul>
                <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Using POS Tags to Draw Simple Network Graphs</a></li>
                <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Building a Simple Documentation Tool With Mistune and Pico.css</a></li>
                <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Explore Your Dataframes With PyGWalker</a></li>
            </ul>
        </div>
    </h3>
</div>