<div class="content">
    <div class="block">
        <h1 class="has-text-left has-text-centered-mobile">Latest articles</h1>
    </div>
    <hr>
    <div class="block">
        <ul>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Using POS Tags to Draw Simple Network Graphs</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Building a Simple Documentation Tool With Mistune and Pico.css</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Explore Your Dataframes With PyGWalker</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Bun: A Great JavaScript Runtime for Data Practitioners</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Using POS Tags to Draw Simple Network Graphs</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Building a Simple Documentation Tool With Mistune and Pico.css</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Explore Your Dataframes With PyGWalker</a></li>
            <li><span class="tag">2024-11-27</span> &emsp; <a class="has-text-danger" href="#">Bun: A Great JavaScript Runtime for Data Practitioners</a></li>
        </ul>
    </div>
</div>
<br>
<div class="content">
    <h1 class="has-text-left has-text-centered-mobile">Featured articles</h1>
    <hr>
    <div class="grid">
        <div class="cell">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </header>
                <div class="card-content">
                    <div class="content">Ut enim ad minim veniam</div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item has-text-danger">Read more</a>
                </footer>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </header>
                <div class="card-content">
                    <div class="content">Ut enim ad minim veniam</div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item has-text-danger">Read more</a>
                </footer>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </header>
                <div class="card-content">
                    <div class="content">Ut enim ad minim veniam</div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item has-text-danger">Read more</a>
                </footer>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </header>
                <div class="card-content">
                    <div class="content">Ut enim ad minim veniam</div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item has-text-danger">Read more</a>
                </footer>
            </div>
        </div>
    </div>
</div>