<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://blanchardjulien.com/css/bulma.min.css">
    <link rel="stylesheet" href="https://blanchardjulien.com/css/solar_bulmaswatch.min.css">
    <link rel="stylesheet" href="https://blanchardjulien.com/css/fonts.css">
    <link rel="stylesheet" href="https://blanchardjulien.com/css/highlight_tokyonightdark.css">
    <script src="https://kit.fontawesome.com/35ee8b8fd7.js" crossorigin="anonymous"></script>
    <script src="https://blanchardjulien.com/javascript/highlight.min.js"></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="8c8334c9-9aff-41a9-a7f8-402d01529b18"></script>
    <script src="https://cdn.counter.dev/script.js" data-id="205ad799-38b0-4d9a-ac65-2fdf615ff871" data-utcoffset="0"></script>
    <title>Julien's data blog</title>
    <style>
        body {
            font-family: "Space Mono", serif;
        }
        .clickable-content {
            cursor: pointer;
        }
        #adjust-centre {
            text-align: center;
            margin-left: auto;
            justify-content: flex-end;
        }
        .content pre {
            white-space: pre-wrap;
            /* background-color: #2A2C2D; panda */
            /* background-color: #161712; pojoaque */
            background-color: #1A1B26;
        }
        .images-centre {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <section class="section">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-menu is-active">
                    <div class="navbar-start">
                        <a class="navbar-item">
                            <strong>JULIEN'S DATA BLOG</strong>
                        </a>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="https://blanchardjulien.com/"><strong>Home</strong></a>
                        <a class="navbar-item" href="https://blanchardjulien.com/pages/posts.html"><strong>Articles</strong></a>
                        <a class="navbar-item" href="https://blanchardjulien.com/pages/about.html"><strong>About</strong></a>
                        <a class="navbar-item" href="https://blanchardjulien.com/pages/extras.html"><strong>Extras</strong></a>
                    </div>
                </div>
            </nav>
            <br>
            <div class="columns">
                <div class="column is-one-third has-text-centered has-text-centered-mobile">
                    <div>
                        <figure class="image is-128x128 is-inline-block">
                            <img class="is-rounded" src="https://blanchardjulien.com/images/juju.jpeg" />
                        </figure>
                    </div>
                    <br>
                    <br>
                    <div class="block">
                        <h1 class="title is-3">Julien Blanchard</h1>
                    </div>
                    <br>
                    <div class="block">
                        <h2 class="subtitle"><i>All things data | Programming</i></h2>
                    </div>
                    <br>
                    <div>
                        <span class="clickable-content" id="github-link"><i class="fab fa-github fa-2xl"></i>&ensp;GitHub</span>
                    </div>
                    <br>
                    <div>
                        <span class="clickable-content" id="linkedin-link"><i class="fab fa-linkedin fa-2xl"></i>&ensp;Linkedin</span>
                    </div>
                    <br>
                </div>
                <div class="column is-two-thirds">
                    {{placeholder_content}}
                </div>
            </div>


            <hr>
            <div class="box">
                <div class="content has-text-centered">
                    <strong>&copy; {{placeholder_footer}}</strong>
                </div>
            </div>
        </section>
    </div>

    <script>
        let github_link = document.getElementById("github-link");
        let linkedin_link = document.getElementById("linkedin-link");

        const linkToGitHub = () => {
            window.open("https://github.com/julien-blanchard/","_blank");
        };

        const linkToLinkedIn = () => {
            window.open("https://www.linkedin.com/in/julien-blanchard-4b539038/","_lank");
        };

        github_link.addEventListener("click",linkToGitHub);
        linkedin_link.addEventListener("click",linkToLinkedIn);
    </script>

</body>
</html>
